@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #1f8210;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .custom-button:hover {
        background-color: #1f8210;
    }
</style>

 <!--<h1>Trang Chủ</h1>
     <a href="@Url.Action("Booking", "Home")" class="custom-button">Đặt vé</a> 
     <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<div class="text-center">
    <img src="https://example.com/hinh-anh.jpg" alt="Mô tả ảnh" class="img-fluid" style="width: 100%; max-height: 400px; object-fit: cover;">
</div>

<a href="@Url.Action("Booking", "Home")" class="btn btn-success">Đặt vé</a>

